MODULE_NAME=utils

# lib -> compiled to shared library ; exe -> compiled to executable
TYPE=lib

# Internal module dependencies
USEMOD=

# External lib dependencies (stored in extlib directory)
LINKLIB=spdlog