MODULE_NAME=net

# lib -> compiled to shared library ; exe -> compiled to executable
TYPE=lib

# Internal module dependencies
USEMOD=utils

# External lib dependencies (stored in extlib directory)
LINKLIB=spdlog fmt

# External lib dependencies when cross-compiling from Linux to Windows
WINDOWS_LINKLIB=